body {
  font-family: 'Nunito', sans-serif !important;
}

a {
  text-decoration: none !important;
  :visited {
    text-decoration: none !important;
  }
  :hover {
    text-decoration: none !important;
  }
  :active {
    text-decoration: none !important;
  }
}

.page-title {
  color: rgba(60,60,60,1);
  font-size: 14px;
  margin: 15px 0;
}

.no-padding {
  padding: 0 !important;
}

.section-title {
  font-size: 12px;
  font-weight: 300;
  color: rgba(93,93,93,1);
  padding: 15px 15px 0 15px;
}

.btn-custom {
  background: linear-gradient(to right, rgb(152, 185, 252), rgb(211, 237, 254));
}

.custom-input {
  display: block;
  width: 260px !important;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid rgba(0,0,0,0.05) !important;
  font-size: 0.9em !important;
}
