body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none !important;
  :visited {
    text-decoration: none !important;
  }
  :hover {
    text-decoration: none !important;
  }
  :active {
    text-decoration: none !important;
  }
}

.no-padding {
  padding: 0 !important;
}

.section-title {
  font-size: 12px;
  font-weight: 300;
  color: rgba(0,0,0,0.5);
  padding: 15px 15px 0 0;
  text-transform: uppercase;
}
